.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.main-row {
  top:0;
  width:100%;
  height:80%;
}

.focus-photo {
  width:100px;
  height:100px;
  margin:20px;
}

.flexbox-lhs{
  display:flex;
  flex-direction:column;

}

.focus {
  width:80%;
  margin:auto;

}

.vertical-flexbox{
  display:flex;
  flex-direction:column;

}

.left {
  text-align:left;
  font-size:70%;
}

.nav-col{
  height:50px;
  width:50px;
  border-radius:10px;
  border-style:solid;
  border-color: rgb(112, 150, 157);
  padding:3px;
  margin:5px;
  transition: background-color 0.4s;
}

.nav-col:hover{
  background-color: rgb(123, 163, 182) !important;
}

.nav-col.selected{
  background-color: rgba(100, 127, 140, 0.361);

}

.nav-col .nav-item {
  height:40px;
  width:40px;
  border-radius:10px;
}
.nav-item.glyphicon {
  transform:translate(-1px,4px);
}

.nav-row {
  width:100%;
  margin:20px 0px 20px 0px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:stretch;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
